@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'RawFont';
    src: url('acumin-pro-extra-condensed-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes revealTimelineBackground {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes hideTimelineBackground {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@keyframes revealTimeline {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideTimeline {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 2;
    }
}

/* About section */

.about {
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .about>.tunnels,
.palmhouse {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
} */

/* Timeline CSS */

.scroll-tracker {
    height: 0.1rem;
    width: 100%;
    max-width: inherit;
    background-color: var(--neon-green);
    position: fixed;
    top: 4rem;
    transform-origin: left;
    z-index: 100;
}

.scroll-tracker-background {
    height: 0.1rem;
    width: 100%;
    max-width: inherit;
    background-color: var(--neon-green);
    position: fixed;
    top: 4rem;
    transform-origin: left;
    opacity: 0;
    z-index: 100;
    /* animation: revealTimeline 1s 1 linear ; */
}

.about h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.dates-container {
    position: fixed;
    top: 5rem;
    width: 100%;
    max-width: inherit;
    opacity: 0;
    z-index: 100;
}

.dates {
    font-family: 'RawFont', sans-serif !important;
    font-size: 2rem;
}

.dates ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    color: var(--neon-green);
    background-color: transparent;
    padding: 0 6rem;
}

.dates ul li {
    list-style: none;
}

@media screen and (max-width: 800px) {

    .hero,
    .hero h1,
    .scroll-text {
        padding-bottom: 200px;
    }

    .hero h1,
    .about h1 {
        font-size: 2.5rem;
        /* Adjust this value as needed */
        white-space: nowrap;
    }

    .hero p {
        font-size: 1em;
        white-space: nowrap;
    }

    .news-ticker,
    .news-ticker-2 {
        font-size: 1rem;
    }

}