/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'RawFont';
    src: url('../../assets/acumin-pro-extra-condensed-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --neon-green: #33ff00;
    --max-width: 1920px
}

body {
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 500;
}

.navbar-custom {
    max-width: var(--max-width);
    margin: 0 auto;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

h1 {
    font-family: 'RawFont', sans-serif !important;
}

/* Navbar Styling */

.navbar-custom {
    background-color: transparent;
    z-index: 100;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-family: 'Inria Sans';
    letter-spacing: 0.2rem;
    padding-left: 3rem;
}

.navbar-custom .navbar-nav .nav-link:hover{
    color: var(--neon-green);
    transition: 0.5s;
}

/* Hero Seciton Styling */

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logo png */
.bg-img {
    background-image: url('../../assets/logo_with_background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    box-shadow: 0 0 50px 30px black inset;
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center 70%;
}

.hero h1,
.hero p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
}

.hero p {
    font-family: 'RawFont', sans-serif !important;
    font-size: 2rem;
    top: 80%;
    color: white;
    transition: color 0.5s ease-out;
}

.hero p a {
    color: white;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-out;
}

.scroll-text a:hover {
    color: var(--neon-green);
    transition: color 0.5s ease;
}


.sign-up-form {
    width: 50%;
}

/* Scroll text */

.news-ticker-container {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    background-color: black;    
}

.news-ticker,
.news-ticker-2 {
    font-family: 'RawFont', sans-serif !important;
    font-size: 2rem;
    color: var(--neon-green);
    opacity: 0.5;
    position: fixed;
    bottom: 5%;
    width: 100%;
    max-width: inherit;
}

.news-ticker span {
    display: inline-block;
    /* padding-left: 100%; */
    animation: marquee 120s linear infinite;
}

.news-ticker-2 span {
    animation: marquee 240s linear infinite;
    animation-delay: 1s;
    padding-left: 100%;
}


@media screen and (max-width: 800px) {
    .hero, .hero h1, .scroll-text {
        padding-bottom: 200px;
    }
    .hero h1, .about h1 {
        font-size: 2.5rem; /* Adjust this value as needed */
        white-space: nowrap;
    }
    .hero p {
        font-size: 1em;
        white-space: nowrap;
    }
    .news-ticker, .news-ticker-2 {
        font-size: 1rem;
    }
}