@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Journey sections */

.sections-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.hero {
    scroll-snap-align: center;
}

.journey {
    width: 100%;
    max-width: var(--max-width);
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}

.tunnel {
    opacity: 0;
    transition: 1s;
}

