/* Timeline CSS */

.scroll-tracker {
    height: 0.1rem;
    width: 100%;
    max-width: inherit;
    background-color: var(--neon-green);
    position: fixed;
    top: 4rem;
    transform-origin: left;
    z-index: 100;
}

.scroll-tracker-background {
    height: 0.1rem;
    width: 100%;
    max-width: inherit;
    background-color: var(--neon-green);
    position: fixed;
    top: 4rem;
    transform-origin: left;
    opacity: 0;
    z-index: 100;
    /* animation: revealTimeline 1s 1 linear ; */
}

h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.dates-container {
    position: fixed;
    top: 5rem;
    width: 100%;
    max-width: inherit;
    opacity: 0;
    z-index: 100;
}

.dates {
    font-family: 'RawFont', sans-serif !important;
    font-size: 2rem;
}

.dates ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0;
    margin: 0;
    color: var(--neon-green);
    background-color: transparent;
    padding: 0 6rem;
}

.dates ul li {
    list-style: none;
}

@keyframes revealTimelineBackground {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes hideTimelineBackground {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@keyframes revealTimeline {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideTimeline {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 2;
    }
}

@media screen and (max-width: 800px) {
    .dates {
        font-size: 1.4rem;
    }
    .dates ul {
        padding: 0 20px;
    }

}